.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.w-embed-youtubevideo {
  width: 100%;
  position: relative;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/youtube-placeholder.2b05e7d68d.svg');
  background-size: cover;
  background-position: 50% 50%;
}

.w-embed-youtubevideo:empty {
  min-height: 75px;
  padding-bottom: 56.25%;
}

body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  font-size: 16px;
  line-height: 20px;
}

.container {
  display: block;
  width: 95%;
  max-width: 1200px;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
}

.image {
  display: inline-block;
  margin-top: 10px;
}

.navbar {
  height: 100px;
  background-color: transparent;
}

.button {
  display: inline-block;
  margin-top: 10px;
  margin-left: 8px;
  padding: 8px 32px;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  border-radius: 8px;
  background-color: transparent;
  font-size: 20px;
  text-align: center;
}

.button:hover {
  background-color: #fff;
  color: #000;
}

.nav-link {
  color: #fff;
}

.nav-link:hover {
  color: #52aabe;
}

.nav-link-2 {
  color: #fff;
}

.nav-link-2:hover {
  color: #52aabe;
}

.nav-link-3 {
  color: #fff;
}

.nav-link-3:hover {
  color: #52aabe;
}

.nav-link-4 {
  color: #fff;
}

.nav-link-4:hover {
  color: #52aabe;
}

.section-hero {
  height: 645px;
  margin-top: -100px;
  background-image: url('../images/BG.png');
  background-position: 0px 0px;
  background-size: cover;
}

.section-o-yaaleh {
  display: block;
  height: 100%;
}

.grid {
  grid-column-gap: 60px;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.text-block {
  width: 550px;
  font-size: 20px;
  line-height: 120%;
}

.proposta {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 500px;
  margin-top: 100px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/proposta.png');
  background-position: 0px 0px;
  background-size: cover;
}

.text-block-2 {
  display: block;
  width: 450px;
  margin-top: 0px;
  margin-bottom: 0px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  font-size: 20px;
  line-height: 150%;
}

.div-block {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.box {
  position: static;
  display: block;
  width: 95%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 100px;
  padding-bottom: 100px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.box.container {
  padding-top: 60px;
  padding-bottom: 40px;
}

.text-block-3 {
  margin-top: 44px;
  margin-bottom: 44px;
  font-size: 20px;
  line-height: 150%;
}

.grid-2 {
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.youtube {
  width: 90%;
  margin-top: 44px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 40px;
}

.button-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 350px;
  margin-top: 60px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 16px;
  padding-bottom: 16px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 8px;
  background-color: #333;
  text-align: center;
}

.button-2:hover {
  background-color: #2f889c;
}

.diferenciais {
  position: static;
  height: 100%;
  background-color: #235a9f;
}

.heading {
  display: block;
  color: #fff;
}

.heading-2 {
  color: #fff;
  line-height: 120%;
}

.text-block-4 {
  margin-top: 32px;
  color: #e2e2e2;
  font-size: 20px;
  line-height: 150%;
}

.grid-3 {
  margin-top: 44px;
  grid-column-gap: 160px;
  grid-row-gap: 32px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

.image-2 {
  margin-right: 16px;
  margin-bottom: -7px;
  padding-right: 0px;
}

.image-3 {
  margin-right: 16px;
  margin-bottom: -7px;
  padding-right: 0px;
}

.image-4 {
  margin-right: 16px;
  margin-bottom: -7px;
  padding-right: 0px;
  padding-bottom: 0px;
}

.grid-4 {
  margin-top: 44px;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.grid-5 {
  grid-row-gap: 24px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
}

.item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  padding-right: 16px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-block-5 {
  margin-right: 0px;
  font-size: 24px;
  line-height: 150%;
  font-weight: 700;
}

.image-5 {
  margin-right: 16px;
}

.image-6 {
  margin-right: 16px;
}

.image-7 {
  margin-right: 16px;
}

.experts {
  height: 100%;
  background-color: #303030;
}

.heading-3 {
  color: #fff;
}

.image-8 {
  margin-top: -41px;
  margin-bottom: -30px;
}

.risco-dark {
  width: 80px;
  height: 2px;
  margin-top: 32px;
  background-color: #000;
}

.risco-light {
  width: 80px;
  height: 2px;
  margin-top: 32px;
  background-color: #fff;
}

.text-block-6 {
  color: #999;
  line-height: 120%;
  letter-spacing: -1px;
}

.heading-4 {
  margin-top: 70px;
  font-weight: 400;
  text-align: center;
}

.divider {
  display: block;
  width: 80%;
  height: 2px;
  max-width: 1200px;
  margin-top: 70px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #e9e9e9;
  text-align: center;
}

.grid-6 {
  overflow: visible;
  margin-top: 60px;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  -o-object-fit: fill;
  object-fit: fill;
}

.persona {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 180px;
  margin-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.text-block-7 {
  margin-top: 16px;
  color: #969696;
}

.image-10 {
  margin-top: 16px;
}

.text-block-8 {
  margin-top: 16px;
  color: #a0a0a0;
  font-size: 12px;
  line-height: 150%;
}

.text-block-9 {
  color: #fff;
  font-size: 20px;
  line-height: 150%;
  font-weight: 700;
}

.text-block-10 {
  color: #fff;
  font-size: 40px;
  line-height: 150%;
  font-weight: 400;
}

.text-block-11 {
  color: #d3cfcf;
  font-size: 16px;
}

.more {
  margin-top: 67px;
}

.text-block-12 {
  position: static;
  display: block;
  max-width: 1100px;
  margin-top: 0px;
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px none #000;
  line-height: 150%;
  font-weight: 700;
}

.risco {
  border-bottom: 2px solid #000;
}

.content {
  display: none;
  padding-top: 16px;
  padding-bottom: 16px;
}

.title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: space-between;
  -ms-flex-line-pack: justify;
  align-content: space-between;
}

.accordion {
  margin-bottom: 32px;
}

.text-block-13 {
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
  line-height: 150%;
}

.div-block-5 {
  width: 100%;
  height: 40px;
}

.buttonaccordion {
  position: static;
  width: 24px;
  margin-right: 24px;
  margin-left: -24px;
  cursor: pointer;
}

.grid-7 {
  margin-top: 60px;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.submit-button {
  padding: 16px 48px;
  border-radius: 8px;
  background-color: #000;
}

.submit-button:hover {
  background-color: #2f889c;
}

.textarea {
  overflow: auto;
  max-width: 592px;
  margin-bottom: 24px;
  border-radius: 4px;
  line-height: 150%;
}

.textarea:focus {
  border: 2px solid #000;
  color: #000;
  font-weight: 400;
}

.text-field {
  height: 56px;
  margin-bottom: 24px;
  border-radius: 4px;
}

.text-field:focus {
  border: 2px solid #000;
}

.text-field-2 {
  height: 56px;
  margin-bottom: 24px;
  border-radius: 4px;
}

.text-field-2:focus {
  border: 2px solid #000;
}

.text-field-3 {
  height: 56px;
  margin-bottom: 24px;
  border-radius: 4px;
}

.text-field-3:focus {
  border: 2px solid #000;
}

.footer {
  height: 100%;
  background-color: #1a1a1a;
}

.text-block-14 {
  color: #fff;
}

.image-11 {
  margin-right: 24px;
}

.div-block-6 {
  margin-top: 24px;
  margin-bottom: 64px;
  opacity: 0.5;
}

.grid-8 {
  grid-column-gap: 1px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.sp {
  margin-top: 48px;
  color: #fff;
}

.text-block-16 {
  margin-top: 0px;
  color: #c7c7c7;
  line-height: 150%;
}

.text-span {
  color: #80b9ee;
}

.text-span-2 {
  color: #c0bfbf;
}

.div-block-7 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.image-12 {
  width: 50px;
  margin-top: 54px;
  margin-bottom: 0px;
}

.image-13 {
  width: 150px;
}

.lottie-animation {
  width: 500px;
  margin-top: 90px;
  margin-left: 0px;
}

.text-block-17 {
  margin-top: 32px;
  color: #818181;
  font-size: 20px;
  line-height: 130%;
}

.accordion-copy {
  overflow: hidden;
  height: 70px;
  margin-bottom: 32px;
  border-bottom: 2px solid #000;
}

.lottie-animation-2 {
  width: 100px;
  margin-right: 20px;
  margin-bottom: 0px;
  margin-left: 0px;
}

.text-block-18 {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

.success-message {
  margin-top: 0px;
  background-color: transparent;
}

.bold-text {
  line-height: 150%;
}

.text-span-3 {
  font-size: 20px;
}

.div-block-8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.error-message {
  background-color: transparent;
}

.rj {
  color: #fff;
}

.image-15 {
  margin-top: 28px;
}

.image-16 {
  margin-top: 16px;
}

.image-17 {
  margin-top: 18px;
}

.image-18 {
  margin-top: 38px;
}

.lottie-animation-success {
  width: 300px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
}

.heading-6 {
  margin-top: 20px;
}

.heading-9 {
  margin-top: 0px;
}

.line {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #a3a2a2;
  font-size: 20px;
  font-weight: 400;
}

.heading-10 {
  margin-right: 165px;
  margin-bottom: 32px;
  line-height: 150%;
}

.content-1 {
  display: none;
  padding-top: 0px;
  padding-bottom: 16px;
}

.content-2 {
  display: none;
  padding-top: 0px;
  padding-bottom: 16px;
}

.content-3 {
  display: none;
  padding-top: 0px;
  padding-bottom: 16px;
}

.content-4 {
  display: none;
  padding-top: 0px;
  padding-bottom: 16px;
}

.content-5 {
  display: none;
  padding-top: 0px;
  padding-bottom: 16px;
}

.content-6 {
  display: none;
  padding-top: 0px;
  padding-bottom: 16px;
}

@media screen and (max-width: 991px) {
  .container {
    width: 710px;
    margin-right: auto;
    margin-left: auto;
  }

  .navbar {
    background-color: transparent;
  }

  .button {
    margin-top: 32px;
    padding: 16px 48px;
  }

  .nav-link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .nav-link-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .nav-link-3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .nav-link-4 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .section-hero {
    background-position: 50% 0%;
  }

  .grid {
    margin-top: 48px;
    grid-auto-flow: row;
    grid-row-gap: 60px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .text-block {
    width: 700px;
  }

  .proposta {
    background-position: 80% 50%;
  }

  .text-block-2 {
    margin-right: 40px;
    margin-left: 250px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .box.container {
    padding-top: 40px;
    padding-bottom: 20px;
  }

  .grid-2 {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .grid-3 {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .grid-6 {
    grid-row-gap: 59px;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }

  .text-block-12 {
    width: 600px;
  }

  .div-block-5 {
    height: 40px;
  }

  .grid-7 {
    grid-row-gap: 48px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .textarea {
    max-width: 900px;
  }

  .grid-8 {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .sp {
    margin-top: 24px;
  }

  .text-block-16 {
    margin-top: 24px;
  }

  .div-block-7 {
    margin-top: 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .lottie-animation {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-left: 0px;
  }

  .text-block-17 {
    margin-right: 32px;
    margin-left: 0px;
  }

  .image-14 {
    margin-right: auto;
    margin-left: auto;
  }

  .rj {
    margin-top: 24px;
  }

  .menu-button {
    color: #fff;
  }

  .menu-button.w--open {
    z-index: 2;
    background-color: transparent;
  }

  .nav-menu {
    z-index: 1;
    height: auto;
    margin-top: -100px;
    padding-top: 120px;
    padding-bottom: 60px;
    background-color: rgba(0, 0, 0, 0.92);
  }

  .link-block-2 {
    color: #fff;
    text-decoration: none;
  }

  .brand {
    z-index: 1;
  }

  .brand.w--current {
    z-index: 2;
  }

  .heading-10 {
    margin-right: 205px;
  }

  .content-1 {
    padding-top: 0px;
  }

  .content-2 {
    padding-top: 0px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: 90%;
  }

  .section-hero {
    height: 550px;
  }

  .grid {
    position: relative;
  }

  .text-block {
    display: block;
    overflow: visible;
    width: 500px;
    font-size: 16px;
  }

  .text-block-2 {
    display: block;
    margin-right: 32px;
    margin-left: 32px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: 16px;
  }

  .box {
    width: 90%;
  }

  .text-block-3 {
    font-size: 16px;
  }

  .text-block-4 {
    font-size: 16px;
  }

  .grid-4 {
    grid-row-gap: 60px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .grid-6 {
    grid-row-gap: 86px;
  }

  .text-block-12 {
    width: 440px;
  }

  .text-block-16 {
    margin-top: 0px;
  }

  .div-block-7 {
    margin-top: 44px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .lottie-animation {
    width: 400px;
  }

  .text-block-17 {
    font-size: 16px;
  }

  .image-19 {
    margin-right: auto;
    margin-left: auto;
  }

  .div-block-9 {
    margin-bottom: 24px;
  }

  .heading-10 {
    margin-right: 200px;
  }
}

@media screen and (max-width: 479px) {
  .container {
    width: 95%;
  }

  .section-hero {
    height: 500px;
  }

  .text-block {
    width: 100%;
    font-size: 16px;
  }

  .proposta {
    height: 100%;
    background-position: 70% 50%;
  }

  .text-block-2 {
    width: 80%;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: 16px;
  }

  .box {
    width: 90%;
  }

  .box.container {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .text-block-3 {
    font-size: 16px;
  }

  .grid-2 {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    justify-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    grid-row-gap: 40px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    text-align: center;
  }

  .button-2 {
    width: 270px;
  }

  .heading {
    font-size: 28px;
  }

  .heading-2 {
    font-size: 24px;
  }

  .text-block-4 {
    font-size: 16px;
  }

  .text-block-5 {
    font-size: 20px;
  }

  .heading-3 {
    font-size: 28px;
  }

  .grid-6 {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    justify-items: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .persona {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .text-block-12 {
    width: 230px;
    font-size: 16px;
  }

  .div-block-5 {
    display: none;
    height: 24px;
  }

  .sp {
    margin-top: 24px;
  }

  .text-block-16 {
    margin-top: 0px;
    font-size: 14px;
  }

  .text-span-2 {
    font-size: 14px;
  }

  .div-block-7 {
    margin-top: 0px;
    margin-right: 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .image-12 {
    display: block;
    margin-right: 0px;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }

  .lottie-animation {
    width: 270px;
  }

  .text-block-17 {
    font-size: 16px;
  }

  .rj {
    margin-top: 24px;
  }

  .link-block {
    display: block;
    margin-right: 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }

  .div-block-9 {
    margin-bottom: 24px;
  }

  .heading-5 {
    width: 200px;
    font-size: 28px;
  }

  .heading-6 {
    margin-top: 0px;
    font-size: 28px;
  }

  .heading-7 {
    width: 200px;
    margin-top: 0px;
    font-size: 28px;
  }

  .heading-8 {
    font-size: 28px;
  }

  .heading-9 {
    font-size: 28px;
  }

  .line {
    font-size: 20px;
    text-align: center;
  }

  .heading-10 {
    margin-right: 45px;
    margin-left: 32px;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    font-size: 28px;
  }

  .content-1 {
    display: none;
    width: 285px;
    padding-top: 0px;
  }

  .content-2 {
    width: 285px;
  }

  .content-3 {
    width: 285px;
  }

  .content-4 {
    width: 285px;
  }

  .content-5 {
    width: 285px;
  }

  .content-6 {
    width: 285px;
  }
}

#w-node-c98dff85-0c84-15e2-ca63-4e225a54aeea-61af512e {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-_58d78bca-e77c-285e-ef94-84e6e0655f25-61af512e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-d151fdbf-0b51-6c02-41b9-db7a78f005d8-61af512e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_173d252c-38c9-59f7-1884-cc52c3a82566-61af512e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_0c872b80-5ffd-c773-180b-8e09e95400d7-61af512e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-ba839568-eaf8-9c1f-f0d6-6bee006adcae-61af512e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-ba839568-eaf8-9c1f-f0d6-6bee006adcaf-61af512e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_6b868425-05da-c39e-f830-bdfe4b2218a4-61af512e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-_2b3bbbba-2dce-bd91-c49a-58fb0d2c71cd-61af512e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_2b3bbbba-2dce-bd91-c49a-58fb0d2c71ce-61af512e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_5d8039e7-7b37-7a00-93e5-8afe67c03504-61af512e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-_0140c8bc-c7b5-c754-2e6f-2c6ef2300eaf-61af512e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_0140c8bc-c7b5-c754-2e6f-2c6ef2300eb0-61af512e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-c5a019f3-0a22-d00a-0673-14b5e29d78a4-61af512e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-ccff867b-07ce-5887-a35b-5c32e59482f1-61af512e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-_87e125d6-4ffb-834a-9c79-0ea77b44cb40-61af512e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_476c0f66-2990-c396-9ca9-320854a730a0-61af512e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-_2107523f-3516-4e57-9784-ac50c667a7f1-61af512e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-d93d3b26-0d4b-082b-a3d7-73ae30bb9312-61af512e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-f14207af-3f87-f6fd-5d2b-7a5379731ea9-61af512e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-_0a1800b7-7a0f-a1fb-55d6-1bc376fbe272-61af512e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-c773c36c-0d2d-5912-0197-6b2a480ebaf3-61af512e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_229c1f84-e85f-54b7-e8ae-6cf17d86db70-61af512e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-e05d7340-1c0c-b76b-9975-4c6d85040a31-61af512e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_229c1f84-e85f-54b7-e8ae-6cf17d86db72-61af512e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-d5c2da92-1afa-4a2a-706e-eeefe72ca26c-61af512e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-d5c2da92-1afa-4a2a-706e-eeefe72ca26e-61af512e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_656c52da-374a-8911-341c-6d5972f922f5-61af512e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-c208109e-7aef-54ed-4c69-c7ab47c671ff-61af512e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-cedb7429-ac14-cdca-d2f7-4952c90e6f33-61af512e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_047d4224-fb1d-876d-9783-c6a6c8d4689c-61af512e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-a88eab8c-230a-8ace-e943-90fc4d6979c5-61af512e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-a88eab8c-230a-8ace-e943-90fc4d6979c8-61af512e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-a88eab8c-230a-8ace-e943-90fc4d6979cc-61af512e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-f5cef8c6-6157-10c3-d85a-06b477ff074b-61af512e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-f5cef8c6-6157-10c3-d85a-06b477ff074e-61af512e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-f5cef8c6-6157-10c3-d85a-06b477ff0752-61af512e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-dcaf4d0a-53d1-b4f6-ad30-15cd056a91de-61af512e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-dcaf4d0a-53d1-b4f6-ad30-15cd056a91e1-61af512e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-dcaf4d0a-53d1-b4f6-ad30-15cd056a91e5-61af512e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_65e7c96b-9230-3afa-00b4-c9726eaa0bad-61af512e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_65e7c96b-9230-3afa-00b4-c9726eaa0bb0-61af512e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_65e7c96b-9230-3afa-00b4-c9726eaa0bb4-61af512e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_7bf20a1e-4676-3efd-ef0d-34b3c54248b8-61af512e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_7bf20a1e-4676-3efd-ef0d-34b3c54248bb-61af512e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_7bf20a1e-4676-3efd-ef0d-34b3c54248bf-61af512e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-a648f322-da11-add7-8537-38c56b5b3811-61af512e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-b335ce7d-6e4e-f4e9-8423-2f93254e15bd-61af512e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_4592907c-8cf0-4366-b086-91daabc021a5-61af512e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-edc4bdda-5040-f299-d58b-cea22cb6065d-61af512e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-b335ce7d-6e4e-f4e9-8423-2f93254e15be-61af512e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_337f3b29-e248-22af-cd5a-e8dfb6561ca1-61af512e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-cd4b511e-2107-6856-babf-dc805dde107e-61af512e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

@media screen and (max-width: 991px) {
  #w-node-_337f3b29-e248-22af-cd5a-e8dfb6561ca1-61af512e {
    -ms-grid-column-align: stretch;
    justify-self: stretch;
  }
}

@media screen and (max-width: 767px) {
  #w-node-_337f3b29-e248-22af-cd5a-e8dfb6561ca1-61af512e {
    -ms-grid-column-align: stretch;
    justify-self: stretch;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
}

@media screen and (max-width: 479px) {
  #w-node-c208109e-7aef-54ed-4c69-c7ab47c671ff-61af512e {
    -ms-grid-column-align: center;
    justify-self: center;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  #w-node-_337f3b29-e248-22af-cd5a-e8dfb6561ca1-61af512e {
    -ms-grid-column-align: stretch;
    justify-self: stretch;
    -ms-grid-row-align: end;
    align-self: end;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
  }
}



.displaySuccess {
  display: none;
}

.displayError {
  display: none;
}

.lottie-animation-success{
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}

.lottie-animation-error{
  margin-top: 60px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.margin-up{
  margin-top: -50px;
}
